@using StrasbourgNews.Domain.ViewModels
@using PagedList
@using PagedList.Mvc
@model IPagedList<NewsViewModel>
@{
    ViewBag.Title = "Ditib Strasbourg | Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content--section pbottom--30">
    <div class="container">
        <div class="row">
            <!-- Main Content Start -->
            <div class="main--content col-md-12 col-sm-7" data-sticky-content="true">
                <div class="sticky-content-inner">
                    <!-- Page Title Start -->
                    <div class="page--title ptop--30">
                        <h2 class="h2">Ditibden Haberler</h2>
                    </div>
                    <!-- Page Title End -->
                    <!-- Post Items Start -->
                    <div class="post--items post--items-2 pd--30-0">
                        <ul class="nav row AdjustRow">

                            @foreach (var item in Model)
                            {
                                <li class="col-md-4 col-sm-12 col-xs-6 col-xss-12" style="margin-top:15px !important;">
                                    <!-- Post Item Start -->
                                    <div class="post--item post--layout-1 post--title-large">
                                        <div class="post--img">
                                            <a href="/Home/NewsDetail?Id=@item.Id" class="thumb"><img src="https://www.ditibstrasbourg.fr/@item.Image.Remove(0,13)" style="height: 250px;" alt=""></a>


                                            <div class="post--info">
                                                <ul class="nav meta">

                                                    <li><a href="#.">@item.CreationDate</a></li>
                                                </ul>

                                                <div class="title">
                                                    <h2 class="h4"><a href="/Home/NewsDetail?Id=@item.Id" class="btn-link">@item.Title</a></h2>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="post--content">
                                            <p style="overflow: hidden !important; text-overflow: ellipsis;height:79px;">@item.Content</p>
                                        </div>

                                        <div class="post--action">
                                            <a href="/Home/NewsDetail?Id=@item.Id">Devamını Oku</a>
                                        </div>
                                    </div>
                                    <!-- Post Item End -->
                                </li>

                                <li class="col-xs-12 hidden-lg hidden-md hidden-xs shown-xss">
                                    <!-- Divider Start -->
                                    <hr class="divider divider--25">
                                    <!-- Divider End -->
                                </li>
                            }



                        </ul>

                        <div class="pagination  bd--color-2" style="text-align: center;display: contents;">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("DitibNews", new { page }))
                        </div>
                    </div>

                    <!-- Pagination End -->
                </div>
            </div>
            <!-- Main Content End -->

        </div>
    </div>
</div>

